[Desktop Entry]
Name=Absolute Infinity
Comment=Explore, trade, and fight in a 2D galaxy.
Exec=AbsoluteInfinity
Icon=us.acei.AbsoluteInfinity
Type=Application
Categories=Game;